<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{}) %>
    <title>详情</title>
    <style>
                  body{
    background: rgba(7, 46, 95, 0.694);
  }
        .layui-card{
            margin: 0 auto;
            width: 80%;
            border: 1px solid rgb(163, 163, 163);
            border-radius: 5px;
            margin-top: 30px;
            padding: 15px;
        }
        .right{
            float: right;
        }
    </style>
</head>

<body>
    <%- include('nav',{}) %>
   
        <div class="layui-card">
            <div class="layui-card-header">文章标题
                <div class="right">2020-10-10-15:15</div>
            </div>
            
            <div class="layui-card-body">
              文章内容：卡片式面板面板通常用于非白色背景色的主体内<br>
              从而映衬出边框投影
            </div>
          </div>
              
    
</body>

</html>