<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        登录
    </title>
    <%- include('head',{}) %>
    <style>
        body {
            background: rgba(7, 46, 95, 0.694);
        }

        .layui-form {
            height: 350px;
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }

        .layui-input-block {
            margin: 0;
        }

        .denglu {
            color: #2b2d2d;
            margin: 20px;
        }

        .span1 {
            color: rgba(248, 246, 246, 0.7);
        }

        .span1:hover {
            color: rgba(233, 228, 228, 0.7);
        }

        .layui-btn {
            width: 400px;
            background-color: #494c4c;
        }
    </style>
</head>
<%- include('nav',{}) %>

<body>
    <div class="layui-container">
        <div class="layui-row">
            <form class="layui-form" action="/users/addUser">
                <h1 class="denglu">请登录</h1>
                <div class="layui-form-item item">
                    <div class="layui-input-block">
                        <input type="text" name="title" required placeholder="请输入账号" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item item">
                    <div class="layui-input-block">
                        <input type="text" name="title" required placeholder="请输入密码" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block blo">
                        <button class="layui-btn">登录</button>

                    </div>
                </div>
                <span class="span">已有账号，去<a href="/signIn" class="span1">注册</a></span>
            </form>
        </div>
    </div>
</body>

</html>