<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        登录
      </title>
    <%- include('head',{}) %>
    <style>
       body {
      background: rgba(7, 46, 95, 0.694);
    }

        .layui-form {
            height: 350px;
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }

        .layui-input-block {
            margin: 0;
        }

        .txt {

            margin: 20px;
        }

        .span {
            margin: 0 auto;
        }
        .layui-btn {
            background-color: #494c4c;
            width: 400px;
        }
        .span1 {
            color: rgba(248, 246, 246, 0.7);
        }
    </style>
</head>

<body>
    <div class="layui-container">
        <div class="layui-row">
           

            <form class="layui-form" action="users/login" method="POST"> 
                <h1 class="txt">请登录</h1>
                <div class="layui-form-item item">
                    <!-- <label class="layui-form-label">用户名</label> -->
                    <div class="layui-input-block">
                        <input type="text"  name="userName" placeholder="请输入账号" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item item">
                    <!-- <label class="layui-form-label">密码</label> -->
                    <div class="layui-input-block">
                        <input type="password"  name="password" placeholder="请输入密码" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block blo">
                        <button class="layui-btn">登录</button>
                        
                    </div>
                </div>
                <span class="span">没有账号，去<a href="/signIn" class="span1">注册</a></span>
            </form>


            
        </div>
    </div>
</body>

</html>