<style>

</style>
<ul class="layui-nav" style="background: linear-gradient(to left,  #b1c3dd);"> 
  <li class="layui-nav-item" >
        <a href="/"  >首页</a>
      </li>
    <li class="layui-nav-item" style="float: left;">
      <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">用户名</a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">修改信息</a></dd>
        <dd><a href="javascript:;">安全管理</a></dd>
        <dd><a href="javascript:;">退出</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item" style="float: left;">
      <a href="login">个人中心</a>
    </li>
    <li class="layui-nav-item" style="float: left;">
        <a href="news">写文章</a>
      </li>
     
  </ul>
  <div class="bian">

  </div>