<ul class="layui-nav" style="background: linear-gradient(to right, black)">.
  <li class="layui-nav-item">
    <a href="/">首页</a>
  </li>

  <li class="layui-nav-item" style="float: right;">
    <a href="">个人中心</a>

  </li>

  <li class="layui-nav-item" style="float: right;">
    <% if(userName) { %>
    <p>
      <%= userName %>
    </p>
    <% }else { %>
    <a href="login">登录</a>
    <% } %>
  </li>

  <li class="layui-nav-item" style="float: right;">
    <a href="news">写文章</a>
  </li>
</ul>