<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{}) %>
    <title>写文章</title>
    <style>
        body {
            background: rgba(7, 46, 95, 0.694);
        }

        .layui-input-block {

            margin: 30px;
        }

        .area {
            margin: 0 auto;
            width: 1080px;
        }

        button {
            float: right;
            margin-right: 30px;
        }

        .layui-btn {
            background-color: #494c4c;
        }
    </style>
</head>

<body>
    <%- include('nav',{}) %>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入文章标题" autocomplete="off"
                    class="layui-input">
            </div>

            <div class="area">
                <textarea name="" id="" cols="147" rows="15" placeholder="请输入文章内容"></textarea>
            </div>

            <button type="button" class="layui-btn layui-btn-sm">发布</button>
        </div>
    </div>
</body>

</html>