<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        注册
    </title>
    <%- include('head',{}) %>
    <style>
        body {
            background: rgba(7, 46, 95, 0.694);
        }

        .layui-form {
            height: 350px;
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }

        .layui-input-block {
            margin: 0;
        }

        .zhuche {
            color: #2b2d2d;
            margin: 20px;
        }

        .span {
            margin: 0 auto;

        }

        .span1 {
            color: rgba(248, 246, 246, 0.7);
        }

        .span1:hover {
            color: rgba(233, 228, 228, 0.7);
        }

        .layui-btn {
            width: 400px;
            background-color: #494c4c;
        }
    </style>
</head>
<body>
    <!-- <%- include('nav',{}) %> -->
    <div class="layui-container">
        <div class="layui-row">
            <form class="layui-form" action="/users/addUser"method='post'>
                <h1 class="zhuche">用户注册</h1>
                <div class="layui-form-item item">
                    <div class="layui-input-block">
                        <input type="text" name="username" required placeholder="请输入账号" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item item">
                    <div class="layui-input-block">
                        <input type="password" name="password" required placeholder="请输入密码" autocomplete="off"
                            class="layui-input">
                 </div>
                </div>
                <div class="layui-form-item item">
                    <div class="layui-input-block">
                        <input type="password" name="password1" required placeholder="确认密码" autocomplete="off"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block blo">
                        <input type="submit" class="layui-btn" value="注册">

                    </div>
                </div>
                <span class="span">已有账号，去<a href="/login" class="span1">登陆</a></span>
            </form>
        </div>
    </div>
</body>

</html>